$color-blue: #2993de;
$color-green: #5dde9c;
$color-green-a: #299a60;
$color-gray: #fbfbfb;
$color-gray-dark: #939797;
$color-gray-dark-a: #787878;
$color-gray-dark-b: #969696;
$color-gray-dark-c: #7b7b7b;
$color-gray-light: #fafafa;
$color-gray-light-b: #f3f3f3;
$color-gray-light-c: #f7f6f6;
$color-gray-light-d: #e2e1e1;
$color-pink: #ef7878;
$color-red: #a93b3b;
$color-white: #ffffff;
